:root{
    --corPrimaria: yellow;
}

.icon_nav{
    width:8% ;
    height:8%;
    margin-left: auto;
    margin-right: auto;
}

.corpo_pagina{
    background-color: #DCDCDC;
}

.teste{
    background-color: purple;
    width: auto;
}

div{
    color: var(--corPrimaria);
}